<div class="row">
    <div class="col-6 m-0 p-0">
        <div class="bgImage">
            <div class="frtImage">

            </div>
        </div>
    </div>
    <div class="rightDiv col-6 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column">
            <h2 class="text-center">Logo</h2>
            <div class="formDiv d-flex flex-column mt-5">
                <h2 class="mt-2 px-3">Create New Password</h2>
                <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
                    <div class="mt-4 px-3">
                        <label class="form-label" for="pass">Enter Your New Password</label>
                        <div class="input-eye">
                            <input [type]="!eyeOpen ? 'password' : 'text'" autofocus
                                class="form-control border-secondary" id="pass" formControlName="password"
                                class="div-input" />
                            <mat-icon class="eye-icon" *ngIf="!eyeOpen"
                                (click)="togglePasswordVisibility()">visibility</mat-icon>
                            <mat-icon class="eye-icon" *ngIf="eyeOpen"
                                (click)="togglePasswordVisibility()">visibility_off</mat-icon>
                        </div>

                        <div *ngIf="
                          (f['password'].touched || f['password'].dirty) &&
                          f['password'].invalid
                        " class="text-danger">
                            <div *ngIf="
                            f['password'].errors &&
                            f['password'].errors['required']">
                                Password is required
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 px-3">
                        <label class="form-label" for="confPass">Conform Password</label>
                        <input type="password" class="form-control border-secondary" id="confPass"
                            formControlName="confirmPassword" />
                        <div *ngIf="
                              (f['confirmPassword'].touched || f['confirmPassword'].dirty) &&
                              f['confirmPassword'].invalid
                            " class="text-danger">
                            <div *ngIf="
                                f['confirmPassword'].errors &&
                                f['confirmPassword'].errors['required']
                              ">
                                Confirm password is required
                            </div>
                            <div *ngIf="
                                f['confirmPassword'].errors &&
                                f['confirmPassword'].errors['confirmedValidator']
                              ">
                                Password and Confirm Password should be same
                            </div>
                        </div>
                    </div>
                    <button class="customizeButton btn mt-3 mb-5 form-control" type="submit">Change Password</button>

                    <div class="text-center mb-4">
                        <small>Back to SignIn <a routerLink="/auth/signin">Go Back</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>