.logo {
  text-align: center;
  padding: 2.6rem;
  img {
    width: 120px;
  }
}

.mat-icon {
  vertical-align: center;
  margin-right: 1rem;
}

.mat-divider {
  border-top-width: 2px;
  border-color: white;
}

.mat-list-item {
  color: #94a3b8 !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
  ::ng-deep {
    .mat-list-item-content {
      border-radius: 5px;
      margin: 0 8px;
      &:hover {
        background: skyblue !important;
      }
    }
  }
}

.list-item-active {
  color: #f2f5f7 !important;
  ::ng-deep {
    .mat-list-item-content {
      background: skyblue !important;
      &:hover {
        background: skyblue !important;
      }
    }
  }
}

.mat-subheader {
  color: 818cf8;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.text-white {
  color: white !important;
}

.size-text {
  font-size: large;
}


.sidebar-item{
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.sidebar-item .icon{
  width: 22px;
  margin-right: 10px;
}

.sidebar-item .arrow{
  color: black;
}



.active {
  background-color: #FFF;
  color: #4285F4;
  width: 100%;
}

.inactive {
  background-color: #4285F4;
  color: white;
  width: 100%;
}

