<mat-nav-list>
  <div class="logo py-4">
    <p class="text-white size-text">Integrity Solution</p>
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" class="text-white" routerLink="/user/addingmodule/addinguser/dashboard">
    <mat-icon class="text-white">dashboard</mat-icon>
    <span class="text-white">Dashboard</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" class="text-white" routerLink="/user/addingmodule/addinguser/addingdetail">
    <span class="text-white" >Mangage User</span>
  </a>
</mat-nav-list>