<div class="container">
    <div class="user-detail mt-4">
        <div>
            <img src="../../../../assets/adduser.png" alt="Add User">
        </div>
    </div>

    <div class="ps-5 pb-4">
        <h1>User Detail</h1>
        <div class="d-flex gap-3 align-items-center">
            <div class="imgcircle">
                <img *ngIf="!userRegisterationDetails.get('imageSrc')?.value" src="../../../../assets/imgIcon.png"
                    alt="default image" width="25px" height="25px" class="image" />

                <img *ngIf="userRegisterationDetails.get('imageSrc')?.value"
                    [src]="userRegisterationDetails.get('imageSrc')?.value" alt="user image" width="77px" height="77px"
                    class="image" class="img-photo" />
            </div>
            <div class="">
                <p class="uploadtext">Upload User image</p>
                <label for="imageUrl" class="uploadtext text-primary">Browse</label>
                <input type="file" id="imageUrl" size="1" accept=".png, .jpg, .svg" class="image-url"
                    (change)="onSelectImage($event)">
            </div>
        </div>
    </div>

    <div class="ps-5 container row">
        <form [formGroup]="userRegisterationDetails">
            <div class="form-group row mb-5">
                <div class="col-4">
                    <div>
                        <label class="form-label text-weight" for="firstName">First Name</label>
                    </div>
                    <input type="text" id="firstName" (keypress)="blockSpaceValidaton($event)" class="form-control"
                        placeholder="First Name" formControlName="FirstName" />
                    <div *ngIf="
                          getControl('FirstName')?.errors &&
                          (getControl('FirstName')?.touched ||
                            getControl('FirstName')?.dirty)
                        ">
                        <small class="text-danger" *ngIf="getControl('FirstName')?.errors?.['required']">First name is
                            required</small>
                        <small class="text-danger" *ngIf="getControl('FirstName')?.errors?.['maxlength']">First name
                            can't
                            be more than 30 character</small>
                    </div>
                </div>

                <div class="col-4">
                    <div>
                        <label class="form-label text-weight" for="middleName">Middle Name</label>
                    </div>
                    <input type="text" id="middleName" (keypress)="blockSpaceValidaton($event)" class="form-control"
                        placeholder="Middle Name" formControlName="MiddleName" />
                </div>

                <div class="col-4">
                    <div>
                        <label class="form-label text-weight" for="lastName">Last Name</label>
                    </div>
                    <input type="text" id="lastName" (keypress)="blockSpaceValidaton($event)" class="form-control"
                        placeholder="Last Name" formControlName="LastName" />
                    <div *ngIf="
                        getControl('LastName')?.errors &&
                        (getControl('LastName')?.touched ||
                          getControl('LastName')?.dirty)
                      ">
                        <small class="text-danger" *ngIf="getControl('FirstName')?.errors?.['required']">Last name is
                            required</small>
                        <small class="text-danger" *ngIf="getControl('FirstName')?.errors?.['maxlength']">Last name
                            can't
                            be more than 30 character</small>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-5">
                <div class="col-4">
                    <label class="form-label text-weight" for="Gender">Gender<span
                            class="required-field"></span></label>
                    <select tabindex="12" class="form-control" name="Gender" id="Gender" formControlName="Gender">
                        <option value="" disabled selected>Select your Gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Others</option>
                    </select>
                    <div *ngIf="
                    getControl('Gender')?.errors &&
                    (getControl('Gender')?.touched ||
                      getControl('Gender')?.dirty)
                  ">
                        <small class="text-danger" *ngIf="getControl('FirstName')?.errors?.['required']">Gender is
                            required</small>
                    </div>
                </div>

                <div class="col-4">
                    <div>
                        <label class="form-label text-weight" for="dob">Date Of Birth</label>
                    </div>
                    <input type="date" id="dob" (keydown)="disableDate()" class="form-control" max="{{dateNow}}"
                        placeholder="Middle Name" formControlName="Dob" />
                    <div *ngIf="
                        getControl('Dob')?.errors &&
                        (getControl('Dob')?.touched ||
                          getControl('Dob')?.dirty)
                      ">
                        <small class="text-danger" *ngIf="getControl('Dob')?.errors?.['required']">Dob is
                            required</small>
                    </div>
                </div>

                <div class="col-4">
                    <div>
                        <label class="form-label text-weight" for="Email">Email</label>
                    </div>
                    <input type="email" id="Email" class="form-control" placeholder="Email" formControlName="Email" />

                    <div *ngIf="
                    getControl('Email')?.errors &&
                    (getControl('Email')?.touched ||
                      getControl('Email')?.dirty)
                  ">
                        <small class="text-danger" *ngIf="getControl('Email')?.errors?.['required']">Email is
                            required</small>
                        <small class="text-danger" *ngIf="getControl('Email')?.errors?.['email']">Enter a valid
                            email</small>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-5">
                <div class="col-4">
                    <div>
                        <label class="form-label text-weight" for="dateofjoining">Date Of Joining</label>
                    </div>
                    <input type="date" id="dateofjoining" class="form-control" placeholder="Date of joining"
                        formControlName="DateOfjoining">

                </div>

                <div class="col-4">
                    <div>
                        <label class="form-label text-weight" for="Phone">Phone</label>
                    </div>
                    <input type="tel" id="Phone" (keypress)="dateValidation($event)" class="form-control"
                        placeholder="Phone" formControlName="Phone">
                    <div *ngIf="
                        getControl('Phone')?.errors &&
                        (getControl('Phone')?.touched ||
                          getControl('Phone')?.dirty)
                      ">
                        <small class="text-danger" *ngIf="getControl('Phone')?.errors?.['required']">Phone number is
                            required</small>
                        <small class="text-danger" *ngIf="getControl('Phone')?.errors?.['maxlength']  || getControl('Phone')?.errors?.['minlength']">Phone number
                            should contain 10 digits</small>
                    </div>
                </div>

                <div class="col-4">
                    <div>
                        <label class="form-label text-weight" for="alternatephone">Alternate Phone</label>
                    </div>
                    <input type="tel" (keypress)="dateValidation($event)" id="alternatephone" class="form-control"
                        placeholder="Alternate Phone" formControlName="AlternatePhone">

                    <div *ngIf="
                        getControl('AlternatePhone')?.errors &&
                        (getControl('AlternatePhone')?.touched ||
                          getControl('AlternatePhone')?.dirty)
                      ">
                        <small class="text-danger" *ngIf="getControl('AlternatePhone')?.errors?.['maxlenght'] || getControl('AlternatePhone')?.errors?.['minlength']">Alternate
                            phone number should contain 10 digits</small>
                    </div>
                </div>
            </div>

            <div formArrayName="UserAddressAnkits">
                <div *ngFor="let addressGroup of userRegisterationDetails.get('UserAddressAnkits').controls; let i = index;"
                    [formGroupName]="i" class="form-group row mb-5">

                    <div class="col-4">
                        <label class="form-label text-weight" [for]="'country' + i">Country<span
                                class="required-field"></span></label>
                        <select class="form-control" name="country" [id]="'country'+i" formControlName="Country"
                            (click)="setCountryCode($event)">
                            <option value="" disabled selected>Select Country</option>
                            <option *ngFor="let country of countryList" [value]="country.isoCode">{{country.name}}
                            </option>
                        </select>
                        <div
                            *ngIf="getAddressControl(i, 'Country')?.errors && getAddressControl(i, 'Country')?.touched">
                            <small class="text-danger"
                                *ngIf="getAddressControl(i, 'Country')?.errors?.['required']">Country is
                                required</small>
                        </div>
                    </div>

                    <div class="col-4">
                        <label class="form-label text-weight" [for]="'state'+i">State<span
                                class="required-field"></span></label>
                        <select class="form-control" name="state" [id]="'state'+i" formControlName="State"
                            (click)="setStateCode($event)">
                            <option value="" disabled selected>Select State</option>
                            <option *ngFor="let state of stateListBasedOnCountryCode" [value]="state.isoCode">
                                {{state.name}}</option>
                        </select>
                        <div *ngIf="getAddressControl(i, 'State')?.errors && getAddressControl(i, 'State')?.touched">
                            <small class="text-danger" *ngIf="getAddressControl(i, 'State')?.errors?.['required']">State
                                is
                                required</small>
                        </div>
                    </div>

                    <div class="col-4">
                        <label class="form-label text-weight" [for]="'city'+i">City<span
                                class="required-field"></span></label>
                        <select class="form-control" name="city" [id]="'city'+i" formControlName="City">
                            <option value="" disabled selected>Select City</option>
                            <option *ngFor="let city of cityListBasedOnStateCode" [value]="city.name">
                                {{city.name}}</option>
                        </select>
                        <div *ngIf="getAddressControl(i, 'City')?.errors && getAddressControl(i, 'City')?.touched">
                            <small class="text-danger"
                                *ngIf="getAddressControl(i, 'City')?.errors?.['required']">Country is
                                required</small>
                        </div>
                    </div>

                    <div class="col-4">
                        <div>
                            <label class="form-label text-weight" [for]="'zip'+i">Zip Code</label>
                        </div>
                        <input type="tel" [id]="'zip'+i" class="form-control" placeholder="Enter zip code"
                            formControlName="ZipCode">
                        <div
                            *ngIf="getAddressControl(i, 'ZipCode')?.errors && getAddressControl(i, 'ZipCode')?.touched">
                            <small class="text-danger" *ngIf="getAddressControl(i, 'ZipCode')?.errors?.['required']">Zip
                                code is
                                required</small>
                            <small class="text-danger"
                                *ngIf="getAddressControl(i, 'ZipCode')?.errors?.['maxlength'] || getAddressControl(i, 'ZipCode')?.errors?.['minlength']">Zip
                                Code must contain 5 digit
                            </small>
                        </div>
                    </div>

                    <div class="col-3 mt-3">
                        <button type="button" class="btn btn-danger mt-1" (click)="removeAddressFromFormArray(i)"
                            title="Delete Policy">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="!isUpdate" class="offset-11">
                <button class="btn btn-success" (click)="onSave()">Save</button>
            </div>
            <div *ngIf="isUpdate" class="offset-11">
                <button class="btn btn-success" (click)="onUpdate()">Update</button>
            </div>
        </form>
    </div>

    <div>
        <button class="btn btn-primary" (click)="addAddress()">Add Address</button>
    </div>
</div>