<div class="container row" style="background-color: azure;">
    <div class="col-3 d-flex " style="background-color: bisque; margin-left: 40px;">
        <div class="d-flex align-items-center ">
            <div>
                <img src="../../../../assets/Icon1.png" alt="icon" height="55px" width="55px">
            </div>
            <div class="active margin-provide">
                <h2>Active</h2>
                <p>{{activeUser}}</p>
            </div>
        </div>
    </div>
    <div class="col-3" style="background-color: #94add6;">
        <div class="d-flex align-items-center ">
            <div>
                <img src="../../../../assets/Icon2.png" alt="icon" height="55px" width="55px">
            </div>
            <div class="active margin-provide">
                <h2>InActive</h2>
                <p>{{inActiveUser}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="form-group row mb-2">
        <div class="col-3">
            <input type="text" class="form-control" [(ngModel)]="filterObj.Name" placeholder="Search by name">
        </div>
        <div class="col-3">
            <input type="text" class="form-control" [(ngModel)]="filterObj.ContactNo" placeholder="Search by phone number">
        </div>
        <div class="col-3">
            <button class="btn btn-primary" (click)="getUserDetails()">Search</button>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" (click)="exportToExcel()">Export to excel</button>
    </div>
    <div class="col-4 mt-2 page">
        <div class="dataTable_length">
            <label>
                Show
                <select [(ngModel)]="filterObj.PageSize" (change)="getUserDetails()">
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="10">10</option>
                </select>
                entries
            </label>
        </div>
    </div>
    <table class="table table-bordered table-striped table-active" id="tblData">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Contact Number</th>
                <th>Country</th>
                <th>State</th>
                <th>City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of userDetails">
                <td>{{item.firstName}}</td>
                <td>{{item.middleName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.dob | date}}</td>
                <td>{{item.phone}}</td>
                <ng-container *ngIf="item.userAddressAnkits.length > 0;">
                    <td>{{item.userAddressAnkits[0].country}}</td>
                    <td>{{item.userAddressAnkits[0].state}}</td>
                    <td>{{item.userAddressAnkits[0].city}}</td>
                </ng-container>
                <td>
                    <button class="btn btn-primary" (click)="editUserDetail(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button type="button" (click)="deleteUserInfo(item.userId)" class="btn btn-danger">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-10" style="float:right; text-align: right;" class="pagination">
        <div class="pagination">
            <div>
                <a class="btn btn-primary btn-sm notActive" (click)="decreamentPageNumber()">
                    Previous</a>
                <a class="btn btn-primary btn-sm notActive">{{filterObj.PageNumber}}</a>
                <a class="btn btn-primary btn-sm notActive" (click)="increamentPageNumber()">Next</a>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteDialog let-dialog="dialogRef">
    <h1 mat-dialog-title>Confirm Delete</h1>
    <div mat-dialog-content>
        Are you sure you want to delete this data?
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="dialog.close()">Cancel</button>
        <button mat-button color="warn" (click)="dialog.close(true)">Delete</button>
    </div>
</ng-template>