<section class="main-wrapper">
  <div class="leftSideWrapper">
    <img src="../../../assets/login.png" alt="sidebanner_image">
  </div>

  <div class="rightSideWrapper">

    <div class="wrapper">
      <div class="img_wrapper">
        <img src="../../../assets/emailSend.png" alt="mail">
      </div>

      <div class="text_wrapper">
        <p>Kindly check your email a link has been sent there to reset your password.</p>
      </div>

      <div class="goBackWrapper">
        Back to Sign In ? <a routerLink="/auth/signin">Go Back</a>
      </div>
    </div>
  </div>
</section>