
<div class="row">
    <div class="col-6 m-0 p-0">
      <div class="bgImage">
        <div class="frtImage">
  
        </div>
      </div>
    </div>
    <div class="rightDiv col-6 d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex flex-column">
        <h1 class="text-center logo-size">Logo</h1>
        <div class="formDiv d-flex flex-column mt-5">
          <h2 class="mt-2 px-3">Sign In</h2>
          <form (ngSubmit)="onSubmit()">
            <div class="mt-4 px-3">
              <label class="form-label" for="email">Enter Your Old Password</label>
              <input type="email" autofocus class="form-control border-secondary" id="email" formControlName="email">
            </div>
            <div class="mt-4 px-3 main-eye">
              <label class="form-label" for="password">Enter Your New Password</label>
              <div class="input-eye">
                <input type="" class="form-control" id="password"
                formControlName="password">
            </div>
  
            <button class="customizeButton btn mt-3 mb-5 form-control" type="submit">Change Password</button>
  
            <div class="text-center mb-4 text-danger">
              <small>Forgot password? <a routerLink="/auth/forgotpassword">Go Back</a></small>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>