<div class="container col-7 rounderd border">
  <h1 class="text-center text-primary">Change Password</h1>
  <form [formGroup]="oldAndNewPasswordDetailForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-4">
      <label for="oldpass" class="mb-3 mt-2">Old Password</label>
      <input type="password" class="form-control" id="oldpass" aria-describedby="emailHelp"
        placeholder="Enter old password" formControlName="OldPassword">
      <div *ngIf="
        getControl('OldPassword')?.errors &&
        (getControl('OldPassword')?.touched ||
          getControl('OldPassword')?.dirty)
      ">
        <small class="text-danger" *ngIf="getControl('OldPassword')?.errors?.['required']">Old password is
          required</small>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="newpass" class="mb-3 mt-2">New Password</label>
      <input type="password" class="form-control" id="newpass" placeholder="Enter new password"
        formControlName="Password">
      <div *ngIf="
        getControl('Password')?.errors &&
        (getControl('Password')?.touched ||
          getControl('Password')?.dirty)
      ">
        <small class="text-danger" *ngIf="getControl('Password')?.errors?.['required']">New password is
          required</small>
      </div>
    </div>
    <div class="text-center mb-5">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>