<div class="row">
  <div class="col-6 m-0 p-0">
    <div class="bgImage">
      <div class="frtImage">

      </div>
    </div>
  </div>
  <div class="rightDiv col-6 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column">
      <h1 class="text-center logo-size">Logo</h1>
      <div class="formDiv d-flex flex-column mt-5">
        <h2 class="mt-2 px-3">Sign In</h2>
        <form [formGroup]="loginDetail" (ngSubmit)="onSubmit()">
          <div class="mt-4 px-3">
            <label class="form-label" for="email">Enter Your Email Address</label>
            <input type="email" autofocus class="form-control border-secondary" id="email" formControlName="email">
            <div *ngIf="
                          getControl('email')?.errors &&
                          (getControl('email')?.touched ||
                            getControl('email')?.dirty)
                        ">
              <small class="text-danger" *ngIf="getControl('email')?.errors?.['required']">Email is required</small>
              <small class="text-danger" *ngIf="getControl('email')?.errors?.['email']">Email is Not Valid</small>
            </div>
          </div>
          <div class="mt-4 px-3 main-eye">
            <label class="form-label" for="password">Enter Your Password</label>
            <input [type]="!eyeOpen ? 'password' : 'text' " class="form-control" id="password"
              formControlName="password">
            <div *ngIf="
                          getControl('password')?.errors &&
                          (getControl('password')?.touched ||
                            getControl('password')?.dirty)
                        ">
              <small class="text-danger" *ngIf="getControl('password')?.errors?.['required']">Password is
                required</small>
            </div>

            <div class="eye-open" *ngIf="eyeOpen" (click)="togglePasswordVisibility()">
              <img src="../../assets/eye-slash.svg" alt="just" />
            </div>
            <div class="eye-open" *ngIf="!eyeOpen" (click)="togglePasswordVisibility()">
              <img src="../../assets/eye.svg" alt="just" />
            </div>
          </div>
          <button class="customizeButton btn mt-3 mb-5 form-control" type="submit">Signin</button>
        </form>
      </div>
    </div>
  </div>
</div>