<div class="row">
  <div class="col-6 m-0 p-0">
    <div class="bgImage">
      <div class="frtImage">

      </div>
    </div>
  </div>
  <div class="rightDiv col-6 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column">
      <h1 class="text-center logo-size">Logo</h1>
      <div class="formDiv d-flex flex-column mt-5">
        <h2 class="mt-2 px-3">Sign In</h2>
        <form [formGroup]="loginDetail" (ngSubmit)="onSubmit()">
          <div class="mt-4 px-3">
            <label class="form-label" for="email">Enter Your Email Address</label>
            <input type="email" autofocus class="form-control border-secondary" id="email" formControlName="email">
            <div *ngIf="
                          getControl('email')?.errors &&
                          (getControl('email')?.touched ||
                            getControl('email')?.dirty)
                        ">
              <small class="text-danger" *ngIf="getControl('email')?.errors?.['required']">Email is required</small>
              <small class="text-danger" *ngIf="getControl('email')?.errors?.['email']">Email is Not Valid</small>
            </div>
          </div>
          <div class="mt-4 px-3">
            <label class="form-label" for="password">Enter Your Password</label>

            <div class="input-eye">
              <input [type]="!eyeOpen ? 'password' : 'text' " class="form-control" id="password"
                formControlName="password" class="div-input">

                <mat-icon class="eye-icon" *ngIf="!eyeOpen" (click)="togglePasswordVisibility()">visibility</mat-icon>
                <mat-icon class="eye-icon" *ngIf="eyeOpen" (click)="togglePasswordVisibility()">visibility_off</mat-icon>
            </div>


            <div *ngIf="
            getControl('password')?.errors &&
            (getControl('password')?.touched ||
              getControl('password')?.dirty)
          ">
              <small class="text-danger" *ngIf="getControl('password')?.errors?.['required']">Password is
                required</small>
            </div>
          </div>

          <button class="customizeButton btn mt-3 mb-5 form-control" type="submit">Signin</button>

          <div class="text-center mb-4 text-danger">
            <small>Forgot password? <a routerLink="/auth/forgotpassword">Click</a></small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>